.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  /* background: linear-gradient(to right, #4e54c8, #8f94fb); */
}

.login-card {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}
